<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".PiyakApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Piyak"
        android:localeConfig="@xml/locales_config">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.TrackActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".ui.LessonActivity" android:exported="false" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.PlacementActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".ui.StatsActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".ui.SettingsActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".ui.WalletActivity" android:exported="false" android:screenOrientation="portrait" />

        <!--
          안드로이드 12 이하에는 "앱별 언어"가 없어서, 고른 언어를 AppCompat 이
          대신 저장해 준다. 이 선언이 없으면 앱을 껐다 켤 때 언어가 풀린다.
        -->
        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>
    </application>
</manifest>
